 .pictures {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  
  .dataDashboard {
    text-align: center;
    margin: 10px;
  }
  
  .avePhotoDashboard,
  .parquePhotoDashboard {
    max-width: 80%;
    border-radius: 10%;
  }
  
  .titlePicture {
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    .pictures {
      flex-direction: column; 
      align-items: center;
    }
  }