.pictures-parques {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .figureParques {
    text-align: center;
    margin: 10px; 
  }
  
  .img {
    max-width: 100%;
    max-height: 120px; 
    object-fit: cover; 
    border-radius: 8px;
  }
  
  h3 {
    margin-top: 10px;
    font-size: 16px;
  }